.accordion {
    list-style:none;   
    font-family: Cambria, serif;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5em;
    overflow: hidden;
    padding: 0;
    -moz-box-shadow:1px 3px 15px #555;
    -webkit-box-shadow:1px 3px 15px #555;
    box-shadow:1px 3px 15px #555;
    /*border-top:2px solid #fff;
        border-left:2px solid #fff;*/
}
.accordion li {
	top: 0;
	left: 0;
    float: left;
    width: 10%;
    height: 400px;
    display: block;
    /*border-right:2px solid #fff;
        border-bottom:2px solid #fff;*/
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    -moz-box-shadow:1px 3px 15px #555;
    -webkit-box-shadow:1px 3px 15px #555;
    box-shadow:1px 3px 15px #555;
}
.accordion h2 {
    background-color: #fff;
    padding: 10px 0;
    opacity: 0.9;
	filter: alpha(opacity=90);
    top: 50px;
    width: 100%;
    position: absolute;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    color: #444;
    text-align: center;
    text-shadow: -1px -1px 1px #ccc;
    -moz-text-shadow: -1px -1px 1px #ccc;
    -webkit-text-shadow: -1px -1px 1px #ccc;
}
.accordion div {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
	filter: alpha(opacity=0);
    background: transparent url(../images/bgDescription.png) repeat-x bottom center;
	padding-top: 340px;
	padding-bottom: 340px;
	margin-bottom: -340px;
}
.accordion div h2 {
    background: none;
    padding: 0;
    position: static;
    opacity: 1;
	filter: alpha(opacity=100);
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    color: #444;
    text-align: left;
    margin: 0px 0px 15px 20px;
    text-shadow: -1px -1px 1px #ccc;
    -moz-text-shadow: -1px -1px 1px #ccc;
    -webkit-text-shadow: -1px -1px 1px #ccc;
}
.accordion div p {
    line-height: 14px;
    margin: 10px 22px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.6em;
}
.accordion div a {
	display: block;
    margin: 5px 0 5px 20px;
    text-transform: uppercase;
    font-style: normal;
    font-size: 11px;
    text-decoration: none;
    color: #888;
}
.accordion div a:hover {
    color: #333;
    text-decoration: underline;
}